/* header */

.header {
  color: #fff;
  padding: 15px 0 183px;
  background: url("../img/IMAGE.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nav {
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  margin-left: auto;
}

.nav__link {
  margin-right: 37px;
  color: #fff;
}

.nav__start {
  font-weight: 400;
  max-width: 183px;
  width: 100%;
  display: inline-block;
  padding: 11px 51px 12px 51px;
  margin-left: 14px;
  color: #fff;
  border-radius: 999px;
  background: #7140eb;
}

.main {
  margin-top: 153px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.main__text {
  margin-top: 37px;
  max-width: 293px;
  width: 100%;
  font-size: 21px;
}

.main__start {
  margin-top: 57px;
  font-weight: 400;
  padding: 11px 51px 12px 51px;
  color: #fff;
  border-radius: 999px;
  background: #7140eb;
  max-width: 183px;
  width: 100%;
  display: inline-block;
}

/* works */

.works {
  color: #49464f;
  padding: 68px 0 73px;
}

.tech {
  justify-content: space-between;
}

.tech__list {
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.tech__item {
  gap: 15px;
}

.tech__number {
  font-size: 24px;
}

.tech__text {
  font-size: 28px;
}

.tech__start {
  padding: 20px 54px 23px 54px;
  font-weight: 400;
  color: #fff;
  background: #7140eb;
  border-radius: 999px;
  max-width: 189px;
  width: 100%;
  display: inline-block;
}

.tech__img {
  margin-top: 21px;
}

/* way */

.way {
  padding: 68px 0 73px;
  background: rgb(245, 245, 247);
}

.way__main {
  color: #2e2c34;
}

.way__text {
  margin-top: 27px;
  font-size: 20px;
}

.offer {
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
}

.offer__product {
  text-align: center;
  background: #fff;
  border-radius: 16px;
  max-width: 334px;
  width: 100%;
}

.offer__wrap {
  padding: 67px 24px 32px;
}

.offer__price {
  justify-content: space-between;
  font-size: 17px;
  color: #49464f;
}

.offer__dollar {
  font-size: 18px;
}

.offer__time {
  margin-left: 16px;
  background: #f1eef8;
  padding: 1px 10px;
  border-radius: 20px;
  font-size: 16px;
}

.offer__general {
  color: #49464f;
  text-align: left;
  margin-top: 39px;
}

.offer__title {
  font-size: 29px;
}

.offer__details {
  margin-top: 11px;
  display: inline-block;
  max-width: 180px;
  width: 100%;
  padding: 22px 21px 23px 39px;
  border: 1px solid #2e2c34;
  border-radius: 999px;
  font-size: 16px;
  color: #2e2c34;
}

.fa-arrow-right-long {
  margin-left: 7px;
}

/* ride */

.ride {
  background: rgb(245, 245, 247);
  padding: 74px 0 73px;
}

.ride__main {
  gap: 17px;
  justify-content: center;
}

.ride__title {
  max-width: 426px;
  width: 100%;
}

.ride__text {
  margin-top: 18px;
  max-width: 313px;
  width: 100%;
}

.ride__details {
  margin-top: 39px;
  display: inline-block;
  max-width: 180px;
  width: 100%;
  padding: 12px 9px 12px 39px;
  border: 1px solid #2e2c34;
  border-radius: 999px;
  font-size: 16px;
  color: #2e2c34;
}

/* city */

.city {
  color: #fff;
  padding: 98px 0 61px;
  background: url(../img/BG.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.city__main {
  align-items: flex-end;
  justify-content: space-between;
}

.city__wrapper {
  flex-direction: column;
  margin-top: 277px;
}

.city__title {
  max-width: 287px;
  width: 100%;
}

.city__text {
  max-width: 242px;
  width: 100%;
  font-size: 21px;
  margin-top: 12px;
}

.city__start {
  display: inline-block;
  max-width: 189px;
  width: 100%;
  background: #7140eb;
  padding: 20px 54px 23px 54px;
  border-radius: 999px;
  color: #fff;
  margin-top: 29px;
}

.city__offer {
  margin-top: 33px;
}

.city__countrys {
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}

.country {
  font-size: 100px;
}

.country-hmb {
  font-size: 107px;
}

.country-mnc {
  font-size: 106px;
}

.country-vin {
  font-size: 105px;
}

/* charge */

.charge {
  padding: 69px 0px 74px;
}

.charge__main {
  justify-content: space-between;
}

.charges__title {
  font-size: 65px;
}

.charge__text {
  margin-top: 27px;
  margin-bottom: 36px;
  font-size: 21px;
  max-width: 252px;
  width: 100%;
  color: #2e2c34;
}

.charge__options {
  flex-direction: column;
  gap: 16px;
}

.fa-check {
  margin-right: 3px;
}

.option {
  max-width: 235px;
  width: 100%;
  display: inline-block;
  background: #f5f5f7;
  border-radius: 40px;
  font-size: 16px;
  padding: 7px 16px 8px 16px;
}

.option-sec {
  max-width: 282px;
  width: 100%;
  display: inline-block;
  background: #f5f5f7;
  border-radius: 40px;
  font-size: 16px;
  padding: 7px 16px 8px 16px;
}

.charge__bikes {
  gap: 16px;
}

.charge__product {
  text-align: center;
  background: #f5f5f7;
  border-radius: 16px;
  max-width: 334px;
  width: 100%;
}

.charge__wrap {
  padding: 67px 24px 32px;
}

.charge__price {
  justify-content: space-between;
  font-size: 17px;
  color: #49464f;
}

.charge__dollar {
  font-size: 18px;
}

.charge__time {
  margin-left: 16px;
  background: #f1eef8;
  padding: 1px 10px;
  border-radius: 20px;
  font-size: 16px;
}

.charge__general {
  color: #49464f;
  text-align: left;
  margin-top: 39px;
}

.charge__title {
  font-size: 29px;
}

.charge__details-btn {
  align-items: center;
  margin-top: 11px;
  display: inline-block;
  padding: 22px 54px 23px;
  border-radius: 999px;
  max-width: 189px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background: #7140eb;
}

.fa-arrow-right-long {
  margin-left: 7px;
}

/* more */

.more {
  color: #2e2c34;
  background: #f5f5f7;
  padding: 96px 0 102px;
}

.more__title {
  max-width: 235px;
  width: 100%;
  font-size: 66px;
}

.more__main {
  align-items: flex-end;
}

.more__more {
  margin-top: 116px;
}

.more__link {
  margin-top: 65px;
  display: inline-block;
  font-size: 16px;
  color: #2e2c34;
  border: 1px solid #2e2c34;
  border-radius: 999px;
  padding: 12px 9px 11px 44px;
  max-width: 180px;
  width: 100%;
}

.more__list {
  flex-direction: column;
  gap: 45px;
}

.more__item {
  font-size: 20px;
}

.fa-plus {
  font-size: 18px;
  margin-right: 28px;
}

/* members */

.member {
  color: #49464f;
  background: #fff;
  padding: 61px 0 73px;
}

.member__list {
  margin-top: 98px;
  justify-content: space-between;
}

.member__item {
  max-width: 246px;
  width: 100%;
}

.member__text {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.member__item-sec {
  max-width: 256px;
  width: 100%;
}

.member__item-trd {
  max-width: 227px;
  width: 100%;
}

.member__info {
  font-size: 17px;
}

/* speed */
.footer {
  background: url("../img/IMAGE.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 46px 0px 54px;
}

.speed {
  justify-content: space-between;
}

.speed__title {
  font-size: 29px;
}

.speed__info {
  font-size: 16px;
  max-width: 286px;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 29px;
  line-height: 24px;
}

.speed__form {
  padding: 18px 12px 14px 16px;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  max-width: 314px;
  width: 100%;
  color: #49464fcc;
  opacity: 80%;
}

.fa-arrow-right-long {
  color: #000;
}

.speed__text {
  max-width: 259px;
  width: 100%;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
}

.speed__wrapper__list {
  display: contents;
}

.speed__list,
.speed__list__2,
.speed__list__3,
.speed__list__4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.speed__link,
.speed__link__2,
.speed__link__3,
.speed__link__4 {
  color: #fff;
  font-size: 16px;
}

.speed__link-opacity,
.speed__link__2-opacity,
.speed__link__3-opacity,
.speed__link__4-opacity {
  color: #fff;
  opacity: 50%;
}

.social {
  justify-content: flex-end;
  align-items: flex-end;
  color: #000;
  font-size: 24px;
  gap: 3px;
}
